.addresses,
.garbages {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eeeeee;
}

body {
  font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ,
    Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
}

/* .districtJP {
  /*font-weight: bold;*/
/* } */

.districtEN {
  color: gray;
}

a:hover {
  text-decoration: none;
}
