.addresses,
.garbages {
    margin-bottom: 10px;
}

.navbar {
    /*min-height: 80px;*/
    padding-top: 15px;
}

/*.navbar-brand {*/
/*    height: 80px;*/
/*    line-height: 80px;*/
/*}*/


.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    font-family: ’ヒラギノ角ゴ Pro W3’, ‘Hiragino Kaku Gothic Pro’, メイリオ, Meiryo, Osaka, ‘MS Pゴシック’, ‘MS PGothic’, sans-serif;
}

.districtJP {
    /*font-weight: bold;*/
}

.districtEN {
    /*font-weight: normal;*/
    /*color: #8292a0;*/
    color:gray;
}

a:hover {
    text-decoration: none;
}